@import url("a.css");
@import url("a.css");

.empty { }

.typo {
  colr: red;
  color: bleu;
}

@keyframes spin {
  from { opacity: 0; }
  from { opacity: 1; }
}

.grid { grid-template-areas: "a b" "a"; }

.modern { anchor-name: --x; }
